{% extends 'main_app/base.html' %}

{% block description_and_verify %}
    <div class="row">
        <div class="container">
            <h2>Archiwum dokumentów</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Plik</th>
                            <th>Data dodania</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in docs %}
                            <tr>
                                <td>{{ doc.filename }}</td>
                                <td>{{ doc.date }}</td>
                                <td>
                                    <a href="{{ MEDIA_URL }}{{ doc.file.name }}" class="btn btn-success">Pobierz</a>
                                    <a href="{% url 'main_app:delete_file' doc.id %}" class="btn btn-danger">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}