{% extends 'main_app/base.html' %}


{% block middle %}
    <div class="row main_part">

        <div class="col-md-5 text-center">
            <h1>MagnetoDocs</h1>
        </div>
        <div class="col-md-5 col-md-offset-1 frame_notlogged">
            <h3>Wybierz plik magnetyczny</h3>
                <form name = "form" enctype = "multipart/form-data" action = "{% url 'main_app:magnet_file' %}" method = "POST" >
                    {% csrf_token %}
                    {{ magnetForm }}
                    <br/>
                    <button type="submit" class="btn btn-default">Sprawdź</button>
                </form>
            <br/>
        </div>

    </div>

{% endblock %}