{% extends 'main_app/base.html' %}

{% block middle %}
    <div class="row">
        <div class="container">
            {% if doc %}
            <h2>Znaleziono dokument</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nazwa dokumentu</th>
                            <th>Właściciel</th>
                            <th>Czas dodania pliku</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ doc.filename }}</td>
                                <td>{{ doc.owner.username }}</td>
                                <td>{{ doc.timestamp|date:"j E o H:i:s"}}</td>
                                <td>
                                    <a href="{{ MEDIA_URL }}{{ doc.file.name }}" class="btn btn-success">Pobierz</a>
                                </td>
                            </tr>
                    </tbody>
                </table>
            {% else %}
            <h2>Plik magnetyczny prowadzi do dokumentu, który już nie istnieje :( </h2>
            {% endif %}
        </div>
    </div>
{% endblock %}